.wrapper {
    margin: 0 auto;
    width: 1200px;
    
    
    .container{
       padding: 0 90px;
        background: rgba(229, 229, 229, 0.2);
        // height: calc(100vh - 90px);

        .breadcrumbs-container {
            color: rgba(0, 0, 0, 0.65);
            font-size: 18px;
            font-weight: bold;
            padding-top: 20px;
            margin-bottom: 26px;

        }

        .desc-container{
            font-size: 14px;
            padding-top: 20px ;
        }
        .pencil-container{
            display: flex;
            justify-content: flex-end;
            padding: 16px;
            margin-right: 50px;
            svg {
                cursor: pointer;
                
            }
        }
    }
}


cypago-card{
    margin-top: 20px;
    display: block;

    &:last-child{
        padding-bottom: 50px;
    }
}

.bold-span{
    font-weight: bold;
}